@import url('../../../index.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tago_cashies_style {
    font-family: DM Sans;
    font-size: 49px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--darkColor);
}

.get_tago {
    background: var(--blueColor);
    border-radius: 7px;
    padding: 5px;
    color: var(--whiteColor);
}

.accordion_body {
    width: 600px;
    border-radius: 7px;
}

.accordion_style {
    font-family: DM Sans;
    font-size: 27px;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--darkColor);
    margin: 0;
}

.accordion_detail {
    font-family: DM Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    padding-left: 37px;
    text-align: left;
    color: var(--darkColor);
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion_detail.open {
    max-height: 200px; 
}