@import url('../../../index.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.exchange_body {
    background: #F4F9FF;
}

.cols_gap {
    display: flex;
    justify-content: center;
}

.exchange_style {
    font-family: DM Sans;
    font-size: 49px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--darkColor);
}

.exchange_stylish {
    background: var(--blueColor);
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 7px;
    color: var(--whiteColor);
}

.exchange_box {
    width: 82px;
    height: 82px;
    border-radius: 9px;
    background: var(--blueColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.exchanges_content {
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--blueColor);
    margin: 0;
    margin-left: 15px;
}

.exchange_content {
    font-family: DM Sans;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--darkColor);
    margin: 0;
    margin-left: 15px;
}

.exchange_vector {
    position: absolute;
    bottom: 0;
}

.drop_style_head {
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    background: none;
    border: none;
    padding-left: 5px;
    outline: none;
}

.drop_styles {
    font-family: DM Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    background: none;
    border: none;
    padding-left: 5px;
}

.exchangerate {
    background-image: url('../../../assets/Images/Vectortwo.png');
    background-repeat: no-repeat;
}

.exchangerate_box {
    width: 534px;
    border-radius: 14px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.exchangerate_content {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--darkColor);
}

.exchange_input {
    width: 100%;
    height: 75px;
    border-radius: 7px;
    border: 1px solid var(--blueColor);
    background: #F4F9FF;
    display: flex;
    align-items: center;
}

.exchange_box_one {
    width: 70%;
    height: 75px;
    border-right: 1px solid var(--blueColor);
    display: flex;
    align-items: center;
}

.exchangerate_input {
    width: 100%;
    height: 50px;
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    outline: none;
}

.exchange_box_two {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown_list {
    background: none;
    border: none;
    background-image: url('../../../assets/Images/uk.png');
    background-repeat: no-repeat;
    background-size: 22px 22px;
    padding-left: 25px;
}

.exchange_input_one {
    margin-top: 10%;
    margin-left: 15%;
    width: 40%;
    border: none;
    background: none;
    outline: none;
    font-family: DM Sans;
    font-size: 21px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
}

.dropdown_list_one {
    background: none;
    border: none;
    background-image: url('../../../assets/Images/europe.png');
    background-repeat: no-repeat;
    background-size: 22px 22px;
    padding-left: 25px;
}

.rate_style {
    font-family: DM Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #5A5555;
}

.circle_img {
    position: absolute;
    top: 23%;
    left: 52%;
    cursor: pointer;
}

.exchange_btn {
    width: 100%;
    height: 75px;
    background: var(--blueColor);
    border: none;
    border-radius: 7px;
    color: var(--whiteColor);
}

.exchange_circle {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid #5A5555;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .exchange_style {
        font-family: DM Sans;
        font-size: 45px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--darkColor);
    }
    .exchange_content {
        font-family: DM Sans;
        font-size: 13px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--darkColor);
        margin: 0;
        margin-left: 15px;
    }   
}

@media (min-width: 768px) and (max-width: 9992px) {
    .cols_gap {
        display: flex;
        justify-content: start;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .cols_gap {
        display: flex;
        justify-content: start;
    }

    .exchange_content {
        font-family: DM Sans;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--darkColor);
        margin: 0;
        margin-left: 15px;
    } 
}

@media (max-width: 576px) {
    .cols_gap {
        display: flex;
        justify-content: start;
    }

    .exchange_style {
        font-family: DM Sans;
        font-size: 30px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--darkColor);
    }

    .exchange_content {
        font-family: DM Sans;
        font-size: 8px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--darkColor);
        margin: 0;
        margin-left: 15px;
    } 
    .exchanges_content {
        font-family: DM Sans;
        font-size: 18px;
        font-weight: 700;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--blueColor);
        margin: 0;
        margin-left: 15px;
    }

    .exchange_box {
        width: 62px;
        height: 62px;
        border-radius: 9px;
        background: var(--blueColor);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .drop_style_head {
        font-family: DM Sans;
        font-size: 15px;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 0em;
        background: none;
        border: none;
        padding-left: 5px;
        outline: none;
    }
}