@import url('../../../index.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    background-image: url('../../../assets/Images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 12.5rem;
}

.hero_style {
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--blueColor);
    margin: 0;
}

.hero_stylish {
    font-family: DM Sans;
    font-size: 76px;
    font-weight: 700;
    line-height: 99px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--blackColor);
    margin: 0;
}

.hero_detail {
    color: var(--blackColor);
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    font-family: DM Serif Display;
    font-size: 32px;
    margin: 0;
}

.tago_style {
    /* display: inline-block; */
    border-radius: 8px;
    background: #0581F8;
    /* background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; */
    color: white;
    /* color: black; */
    padding: 4px;
    
}
.ocean { 
    height: 5%;
    width:50%;
    position:relative;
    bottom:0;
    /* overflow: hidden; */
    left:0;
    /* background: black; */
  }
.wave {
        /* background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;  */
    /* position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px; */
    /* animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite; */
    /* transform: translate3d(0, 0, 0); */
}
@keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
}
  

@keyframes bell {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
        /* Adjust the amplitude of the bell motion */
    }

    100% {
        transform: scale(1);
    }
}


.tago_stylish {
    color: var(--blackColor);
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    font-size: 24px;
    font-family: DM Sans;
    text-align: left;
}

.google_play {
    width: 200px;
    height: 70px;
    border: none;
    border-radius: 10px;
    background: var(--whiteColor);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.google_play:hover {
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.hero_img {
    width: 62%;
    animation: popup 2s ease-in-out infinite alternate;
}

@keyframes popup {
    0% {
        transform: scale(1);
        /* Original size */
    }

    100% {
        transform: scale(1.1);
        /* Slightly larger size */
    }
}

.elipse_style {
    position: absolute;
    top: -6%;
    left: 32%;
}

.elipse_styles {
    position: absolute;
    top: 47%;
    left: 86%;
}

.elipse_styless {
    position: absolute;
    top: 50%;
    left: 16%;
}

.elipse_stylish {
    position: absolute;
    top: 106%;
    left: 48%;
}

.elipse_style,
.elipse_styles,
.elipse_styless,
.elipse_stylish {
    transition: top 0.5s ease, left 0.5s ease;
    /* Add transitions for smooth animation */
}

.hero_div_stlye:hover .elipse_style {
    top: 0%;
    /* Move the image up on hover */
    left: 40%;
    /* Adjust the left position on hover */
}

.hero_div_stlye:hover .elipse_styles {
    top: 48%;
    /* Move the image down on hover */
    left: 83%;
    /* Adjust the left position on hover */
}

.hero_div_stlye:hover .elipse_styless {
    top: 50%;
    /* Move the image up on hover */
    left: 20%;
    /* Adjust the left position on hover */
}

.hero_div_stlye:hover .elipse_stylish {
    top: 100%;
    /* Move the image down on hover */
    left: 48%;
    /* Adjust the left position on hover */
}

.slide_hero {
    width: 100%;
    height: 50px;
    margin-left: 7%;
    margin-top: 5.5rem;
}

.hero_div_stlye {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .hero_img {
        width: 68%;
    }

    .elipse_style {
        position: absolute;
        top: -7%;
        left: 46%;
    }

    .elipse_styles {
        position: absolute;
        top: 40%;
        left: 102%;
    }

    .elipse_styless {
        position: absolute;
        top: 50%;
        left: 29%;
    }

    .elipse_stylish {
        position: absolute;
        top: 106%;
        left: 65%;
    }

    .slide_hero {
        margin-left: 10%;
        margin-top: 7rem;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .hero_div_stlye {
        margin-top: 60px;
    }

    .hero_img {
        width: 75%;
    }

    .elipse_style {
        position: absolute;
        top: -10%;
        left: 37%;
    }

    .elipse_styles {
        position: absolute;
        top: 42%;
        left: 105%;
    }

    .elipse_styless {
        position: absolute;
        top: 50%;
        left: 20%;
    }

    .elipse_stylish {
        position: absolute;
        top: 107%;
        left: 60%;
    }

    .slide_hero {
        margin-left: 15%;
        margin-top: 7.5rem;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .hero_div_stlye {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero_img {
        width: 55%;
    }

    .elipse_style {
        position: absolute;
        top: -3%;
        left: 34%;
    }

    .elipse_styles {
        position: absolute;
        top: 47%;
        left: 82%;
    }

    .elipse_styless {
        position: absolute;
        top: 50%;
        left: 20%;
    }

    .elipse_stylish {
        position: absolute;
        top: 106%;
        left: 50%;
    }

    .slide_hero {
        margin-left: 0%;
        margin-top: 6rem;
    }

    .hero_second {
        margin-top: 3rem;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .hero_div_stlye {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero_img {
        width: 65%;
    }

    .elipse_style {
        position: absolute;
        top: -6%;
        left: 31%;
    }

    .elipse_styles {
        position: absolute;
        top: 45%;
        left: 87%;
    }

    .elipse_styless {
        position: absolute;
        top: 50%;
        left: 15%;
    }

    .elipse_stylish {
        position: absolute;
        top: 106%;
        left: 50%;
    }

    .slide_hero {
        margin-left: 0%;
        margin-top: 6rem;
    }

    .hero_second {
        margin-top: 3rem;
    }
}

@media (max-width: 576px) {
    .hero_div_stlye {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero_img {
        width: 65%;
    }

    .elipse_style {
        position: absolute;
        top: -6%;
        left: 31%;
    }

    .elipse_styles {
        position: absolute;
        top: 45%;
        left: 87%;
    }

    .elipse_styless {
        position: absolute;
        top: 50%;
        left: 15%;
    }

    .elipse_stylish {
        position: absolute;
        top: 106%;
        left: 50%;
    }

    .slide_hero {
        margin-left: 0%;
        margin-top: 6rem;
    }

    .hero_stylish {
        font-family: DM Sans;
        font-size: 65px;
        font-weight: 700;
        line-height: 99px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--blackColor);
        margin: 0;
    }

    .hero_second {
        margin-top: 3rem;
    }
}