@import url('../../../index.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.get_body {
    background: #F4F9FF;
}

.get_style {
    font-family: DM Sans;
    font-size: 49px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--darkColor);
}

.get_tago {
    background: var(--blueColor);
    border-radius: 7px;
    padding: 5px;
    color: var(--whiteColor);
}

.get_stylish {
    font-family: DM Sans;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--darkColor);
}

.get_bodies {
    width: 100%;
    border-radius: 13px;
    background: var(--whiteColor);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.local_style {
    font-family: DM Sans;
    font-size: 27px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--blueColor);
    margin: 0;
}

.widthdraw_style {
    font-family: DM Sans;
    font-size: 21px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--darkColor);
}