@import url('../../../index.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.paying_body {
    background: #052A4F;
}

.paying_head {
    background: var(--blueColor);
    border-radius: 7px;
    padding: 5px;
}

.paying_btn{
    border: none;
    background: none;
}

.paying_style {
    font-family: DM Sans;
    font-size: 42px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--whiteColor);
}

.paying_content {
    font-family: DM Sans;
    font-size: 78px;
    font-weight: 700;
    line-height: 111px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF33;
    margin: 0;
}

.paying_content_one {
    font-family: DM Sans;
    font-size: 23px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    /* color: var(--whiteColor); */
    margin: 0;
}

.paying_content_two {
    font-family: DM Sans;
    font-size: 21px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--whiteColor);
}

.paying_img{
    width: 500px;
    height: 475px;
}

.paying_col{
    display: flex;
    justify-content: center;
    align-items: center;
}

.paying_pading{
    padding-left: 3rem;
    padding-right: 3rem;
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .paying_pading{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .paying_pading{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 576px) {
    .paying_img{
        width: 400px;
        height: 375px;
    }  
    .paying_col{
        display: flex;
        justify-content: end;
        align-items: end;
    }
    .paying_pading{
        padding-left: 1.5rem;
        padding-right: 2rem;
    }
}