@import url('../../../index.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.paying_body {
    background: #052A4F;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.paying_head {
    background: var(--blueColor);
    border-radius: 7px;
    padding: 5px;
}

.paying_btn{
    border: none;
    background: none;
}

.paying_style {
    font-family: DM Sans;
    font-size: 42px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--whiteColor);
}

.paying_content {
    font-family: DM Sans;
    font-size: 78px;
    font-weight: 700;
    line-height: 111px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF33;
    margin: 0;
}

.paying_content_one {
    font-family: DM Sans;
    font-size: 23px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    /* color: var(--whiteColor); */
    margin: 0;
}

.paying_content_two {
    font-family: DM Sans;
    font-size: 21px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--whiteColor);

}